.button {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 0.5em 1em;
    background: #AC5CF7;
    border: none;
    border-radius: 16px;
    color: #fafafa;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background: #58208C ;
    }
}