.cart-button {
    transition: all 0.2s ease-in-out;
    background-color: var(--lightpurple);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    cursor: pointer;
    &:hover {
        background-color: var(--darkpurple);
    }
}

.cart-bubble {
    position: relative;
    left: 16px;
    top: -18px;
}