.cart-detail {
    background-color: var(--dark);
    position: absolute;
    margin-top: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
    width: 400px;
    right: 50px,
}

.cart-detail__list {
    margin: 0;
    padding: 0;
}

.cart-detail__li {
    list-style-type: none;
    border-bottom: 1px solid var(--darker);
    &:last-child {
        border-bottom: none;
    }
}

.cart-detail__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.cart-detail__item-image {

}

.cart-detail__item-info {
    display: flex;
    font-size: 18px;
}

.cart-detail__item-name {
    
}

.cart-detail__item-price {
    margin-left: 16px;
}