.product-container {
	box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.05);
	padding: 16px 16px;
	border-radius: var(--radius);
	grid-column: span 4;

	background-image: linear-gradient(120deg, var(--dark), var(--darkest));
	overflow: hidden;
	&:hover {
		box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
		& > .product-img-container > .product-img-wrapper > .product-img {
			transform: scale(1.05);
		}
	}
	transition: all 0.3s ease-in-out;
}

.product-img-container {
	background-image: linear-gradient(180deg, var(--lightpurple), var(--darkpurple));
	margin: -16px;
	padding: 16px;
	height: 300px;
	overflow: hidden;
}

.product-img-wrapper {
	transform: rotate(45deg) scale(1.8);
	position: relative;
	top: 50%;
	left: -5%;
}

.product-img {
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.product-info {
	color: #fafafa;
}

.product-name {
	padding: 16px 0;
}

.valorant-points {
	color: var(--lightblue);
	width: 25px;
	height: 25px;
	padding: 0 8px 0 0;
}

.product-price {
	font-size: 24px;
	display: flex;
	align-items: center;
}

.price-and-button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: var(--radius);
	padding: 0 16px;
}
